<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let cuarto of ['Banio']">
      <ion-col size-xs="12" size-md="12" size-lg="12" >
        <ion-title >Hora del dia</ion-title>
        <div class="atras">
          <div class="adelante" [style.background-color]="color"></div>
      </div>
      </ion-col>
    </ion-row>
      </ion-grid>
</ion-content>
